<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-2">
                <h1 class="card-header text-center" id="eatBurger">Eat-Da-Burger!</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-2">
                <h4 class="card-header text-center" id="eatBurger">Devour it!</h4>
                <div class="card-body text-left" id="boxNotDevoured">
                    <h5>
                        <ul>
                            <p>{{#each burgers}}</p>
                                {{#unless devoured}} 
                                    {{> burgers/burger-block}} 
                                {{/unless}} 
                            {{/each}}
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-2">
                <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/X4Wfewq7Otwje"
                        width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-2">
                <h4 class="card-header text-center" id="eatBurger">Devoured!</h4>
                <div class="card-body text-center" id="boxDevoured">
                    <h5>
                        <ul>
                        <p>{{#each burgers}}</p>
                        </ul> 
                            {{#if devoured}}
                        <div>
                            <ul>
                                {{id}}. 
                                {{burger_name}}
                            </ul>
                        </div>
                            {{/if}} 
                            {{/each}}
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-2" id="addBurger">
                <form class="create-form">
                    <div class="form-group" >
                        <h4><textarea id="name" name="burger-name" rows="1" cols="40" placeholder="Add burger you want to eat?"></textarea></h4>
                    </div>
                    <h4><button type="submit">Add Burger</button></4>
                </form>
                <footer>
                    <div class="container">
                        Copyright &copy; <p>gyadesa@gmail.com</p> 
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>