* {
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: 'Passion One', cursive;
	font-size: 2em;
}

.jumbotron {
/*	background-image: url(../images/web_header.jpg);*/
    background-size: cover;
	background-repeat:no-repeat;
  }

body:after {
	content : "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/restaurant1.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	width: 100%;
	min-height: 140vh;
	opacity : 1;
	z-index: -1;
}

h1 {
	color: green;
	font-size: 2em !important;
}

#page-name {
	text-align: center;
	margin: 30px 0;
}

#main-image {
	height: 150px;
}

.col-left {
	padding-left: 20%;
}

.col-right {
	text-align: left;
}

.table-first-col {
	width: 270px;
}

td {
    height: 50px;
    vertical-align: center;
}

.create-form {
	margin-top: 10px;
	text-align: center;
}

#eatBurger {
    background-color:orange;
  }

#boxNotDevoured {
	font-size: 14px;
	padding: 10px;
	height: 320px;
	background-color:rgb(105, 140, 236);;
	text-align: left;
}

#boxDevoured {
 padding: 10px;
 height: 320px;
 background-color:rgb(105, 140, 236);
 text-align:left;
}
#addBurger {
background-color:orange;
text-align: center;
padding: 0px 0px;
} 
