<tr class="table-row">
    <td class="table-first-col">
        <h5>{{id}}. {{burger_name}}</h5></td>
    <td>
        <button class="delete-devour" data-id="{{this.id}}"><h5>Delete!</h5></button>
    </td>
</tr>